<% @workshops.each do |workshop| %>
  <h1><%= workshop.name %></h1>
  <dl>
    <dt><%= I18n.t 'activerecord.attributes.workshop.short_description' %></dt>
    <dd><%= workshop.short_description %></dd>
    <dt><%= I18n.t 'activerecord.attributes.workshop.duration' %></dt>
    <dd><%= workshop.duration %> minutos</dd>
    <dt><%= I18n.t 'activerecord.attributes.workshop.workshop_date' %></dt>
    <dd><%= I18n.localize workshop.workshop_date %></dd>
    <dt><%= I18n.t 'activerecord.attributes.workshop.start_time' %></dt>
    <dd><%= l workshop.start_time, format: :short %></dd>
    <dt><%= I18n.t 'activerecord.attributes.workshop.attendees' %></dt>
    <dd><%= workshop.attendees %></dd>
  </dl>
<% end %>
