<h1>Registrar Workshop</h1>

<%= form_with(model: Workshop.new, local: true) do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :short_description, 'Descrição Curta' %>
    <%= f.text_field :short_description %>
  </div>
  <div>
    <%= f.label :full_description, 'Descrição Completa' %>
    <%= f.text_field :full_description %>
  </div>
  <div>
    <%= f.label :attendees, 'Capacidade Máxima' %>
    <%= f.text_field :attendees %>
  </div>
  <div>
    <%= f.label :workshop_date, 'Data' %>
    <%= f.date_field :workshop_date %>
  </div>
  <div>
    <%= f.label :start_time, 'Hora' %>
    <%= f.time_field :start_time %>
  </div>
  <div>
    <%= f.label :duration, 'Duração' %>
    <%= f.number_field :duration %>
  </div>
  <%= f.submit 'Registrar' %>
<% end %>