<h1><%= @workshop.name %></h1>
<dl>
  <dt><%= t('.short_description') %></dt>
  <dd><%= @workshop.short_description %></dd>
  <dt><%= t('.full_description') %></dt>
  <dd><%= @workshop.full_description %></dd>
  <dt><%= t('.duration') %></dt>
  <dd><%= @workshop.duration %> minutos</dd>
  <dt><%= t('.start_date') %></dt>
  <dd><%= I18n.localize @workshop.workshop_date %></dd>
  <dt><%= t('.start_time') %></dt>
  <dd><%= l @workshop.start_time, format: :short %></dd>
  <% if @workshop.full? %>
    <dt><%= t('.waiting_list') %></td>
    <dd><%= link_to(t('.waiting_list_link'), waiting_list_enrollments_path(workshop_id: @workshop.id), method: :post) %></dd>
  <% end %>
</dl>